[submodule ".registry"]
	path = .registry
	url = https://github.com/mskcc-epi-bio/universe
	shallow = true
	branch = HEAD
[submodule "synapser"]
	path = synapser
	url = https://github.com/Sage-Bionetworks/synapser
	shallow = true
	registered = true
