[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "PROscorerTools"]
	path = PROscorerTools
	url = https://github.com/mskcc-epi-bio/proscorertools
[submodule "SvyNom"]
	path = SvyNom
	url = https://github.com/mskcc-epi-bio/svynom
[submodule "tidycmprsk"]
	path = tidycmprsk
	url = https://github.com/mskcc-epi-bio/tidycmprsk
